<% layout('layout'); %>

<div class="bs-callout bs-callout-info">
    <h4>Reset Password</h4>
    <p>Please enter your email address and click 'Reset Password'.  You will then be sent an email with a link to reset your password.</p>
</div>


<form class="bs-example form-horizontal" method="post" action="">

    <div class="form-group">
        <label class="col-lg-4 control-label">Email</label>
        <div class="col-lg-4">
            <input id="email" class="form-control" name="email" type="email" placeholder="Email" required>
        </div>
    </div>


    <button class="btn btn-primary">Reset Password</button>
</form>