<div class="row poi-footer">
    <div class="col-xs-12">
        <div class="pull-left">&copy; 2014 Beakyn Company</div>
        <div class="text-center">
            <a href="/tos">Terms of Service</a> &nbsp;&nbsp;&nbsp; <a href="/privacy">Privacy Policy</a>
        </div>
    </div>
</div>
<br/>